<div
  class="h-screen flex flex-col shadow-lg transition-all duration-300 ease-in-out"
  [ngClass]="{
    'w-20': !isExpanded,
    'w-64': isExpanded,
    'bg-white text-gray-800': !isDarkMode,
    'bg-gray-800 text-white': isDarkMode
  }"
  (mouseover)="expandSidebar(true)"
  (mouseleave)="expandSidebar(false)"
>
  <!-- Profile Section -->
  <div
    class="flex py-6"
    [ngClass]="{
      'justify-center': !isExpanded,
      'justify-start items-center px-7': isExpanded
    }"
  >
    <div
      class="rounded-full w-12 h-12 bg-blue-500 flex items-center justify-center text-white font-bold text-lg select-none cursor-pointer"
      routerLink="/dashboard/profile"
    >
      JD
    </div>
    <div
      *ngIf="isExpanded"
      class="ml-3 flex flex-col cursor-pointer"
      routerLink="/dashboard/profile"
    >
      <span class="font-bold text-lg">John Doe</span>
    </div>
  </div>

  <!-- Navigation Links -->
  <nav class="flex-grow mt-6">
    <ul class="space-y-4">
      <li>
        <button
          routerLink="/dashboard/notes"
          class="flex items-center w-full p-2 rounded-lg transition-colors duration-200"
          [ngClass]="{
            'justify-center': !isExpanded,
            'justify-start px-7': isExpanded,
            'hover:bg-gray-100': !isDarkMode,
            'hover:bg-gray-700': isDarkMode
          }"
        >
          <span
            class="fas fa-home text-2xl"
            [ngClass]="{
              'text-blue-500': isActive('notes'),
              'text-gray-600': !isActive('notes') && !isDarkMode,
              'text-gray-300': !isActive('notes') && isDarkMode
            }"
            *ngIf="!isExpanded"
          ></span>
          <div *ngIf="isExpanded" class="flex items-center space-x-4">
            <span
              class="fas fa-home text-2xl"
              [ngClass]="{
                'text-blue-500': isActive('notes'),
                'text-gray-600': !isActive('notes') && !isDarkMode,
                'text-gray-300': !isActive('notes') && isDarkMode
              }"
            ></span>
            <span>Notes</span>
          </div>
        </button>
      </li>
      <li>
        <button
          routerLink="/dashboard/categories"
          class="flex items-center w-full p-2 rounded-lg transition-colors duration-200"
          [ngClass]="{
            'justify-center': !isExpanded,
            'justify-start px-7': isExpanded,
            'hover:bg-gray-100': !isDarkMode,
            'hover:bg-gray-700': isDarkMode
          }"
        >
          <span
            class="fas fa-th-list text-2xl"
            [ngClass]="{
              'text-blue-500': isActive('categories'),
              'text-gray-600': !isActive('categories') && !isDarkMode,
              'text-gray-300': !isActive('categories') && isDarkMode
            }"
            *ngIf="!isExpanded"
          ></span>
          <div *ngIf="isExpanded" class="flex items-center space-x-4">
            <span
              class="fas fa-th-list text-2xl"
              [ngClass]="{
                'text-blue-500': isActive('categories'),
                'text-gray-600': !isActive('categories') && !isDarkMode,
                'text-gray-300': !isActive('categories') && isDarkMode
              }"
            ></span>
            <span>Categories</span>
          </div>
        </button>
      </li>
    </ul>
  </nav>

  <!-- Toggle Button -->
  <div class="p-4" [ngClass]="{'border-t border-gray-200': !isDarkMode, 'border-t border-gray-700': isDarkMode}">
    <button
      class="flex items-center justify-center w-full p-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition-colors duration-200"
      (click)="logout()"
    >
      <span *ngIf="!isExpanded" class="fas fa-right-from-bracket"></span>
      <span *ngIf="isExpanded" class="fas fa-right-from-bracket"> LOGOUT </span>
    </button>
  </div>
</div>
